In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r'main.csv')

In [3]:
df

,link,phone,whatsapp
0,https://bul.az/view/446486_menzil-satilir-4464...,(005) 133-15-06,(051) 331-50-60
1,https://bul.az/view/446416_zabratda-marsuruta-...,(055) 855-50-80,NaN
2,https://bul.az/view/446406_yasamal-kiraye-1-ot...,(055) 722-85-88,(055) 722-85-88
3,https://bul.az/view/446330_salyanda-merkezde-4...,(077) 521-16-55,(077) 521-16-55
4,https://bul.az/view/446475_torpaq-satilir-4464...,(055) 651-60-28,(055) 651-60-28
...,...,...,...
18055,https://bul.az/view/346307_20-yanvar-kuc-34630...,(070) 245-00-10,(070) 245-00-10
18056,https://bul.az/view/346381_merdekan-meryam-mar...,(050) 342-03-30,NaN
18057,https://bul.az/view/346371_suvelanda-modern-ye...,(055) 220-67-57,NaN
18058,https://bul.az/view/346402_xirdalan-seheri-kri...,(055) 444-95-69,(070) 888-86-10
18059,https://bul.az/view/346377_suvelan-haci-movlan...,(050) 342-03-30,NaN

In [4]:
# df.to_excel('df.xlsx', index=False)

In [5]:
data=pd.read_excel(r'data.xlsx')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36120 entries, 0 to 36119
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   link    36120 non-null  object
 1   cat     36120 non-null  object
 2   phone   28140 non-null  float64
dtypes: float64(1), object(2)
memory usage: 846.7+ KB

In [8]:
data

,link,cat,phone
0,https://bul.az/view/446486_menzil-satilir-4464...,phone,51331506.0
1,https://bul.az/view/446416_zabratda-marsuruta-...,phone,558555080.0
2,https://bul.az/view/446406_yasamal-kiraye-1-ot...,phone,557228588.0
3,https://bul.az/view/446330_salyanda-merkezde-4...,phone,775211655.0
4,https://bul.az/view/446475_torpaq-satilir-4464...,phone,556516028.0
...,...,...,...
36115,https://bul.az/view/346307_20-yanvar-kuc-34630...,whatsapp,702450010.0
36116,https://bul.az/view/346381_merdekan-meryam-mar...,whatsapp,NaN
36117,https://bul.az/view/346371_suvelanda-modern-ye...,whatsapp,NaN
36118,https://bul.az/view/346402_xirdalan-seheri-kri...,whatsapp,708888610.0
36119,https://bul.az/view/346377_suvelan-haci-movlan...,whatsapp,NaN